:root{
    --score_size : 8vmin;
}

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    min-height : 100vh;
    display : grid;
    place-items : center;
    background-color: #444;
}

nav{
    position : absolute;
    left : 10px;
    top : 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width : 25vw;
}

nav a{
    color : white;
    text-decoration: none;
    font-size : 1.5rem;
}

nav a:hover{
    text-decoration: underline;
}

#tgbtn{
    padding : 5px;
    background : linear-gradient(green, darkgreen);
    border : 1px solid darkgreen;
    border-radius : 10px;
    color : #fff;
    font-weight: bold;
    cursor : pointer;
}

#tgbtn:hover{
    box-shadow : 2px 2px 8px 0 #000;
}

#tgbtn:active{
    transform: scale(0.95);
}

#gameBoard{
    width : 90vmin;
    height : 90vmin;
    display : grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background : linear-gradient(#075a07, #032903);
}

#gameBoard .head{
    background-color : green;
    border : 1px solid goldenrod;
}

.hdup{
    border-radius: 50% 50% 0 0;
}
.hddown{
    border-radius: 0 0 50% 50%;
}

.hdleft {
    border-radius : 50% 0 0 50%;
}

.hdright{
    border-radius : 0 50% 50% 0;
}

#gameBoard .food{
    background: linear-gradient(red, darkred);
    border : 1px solid brown;
    border-radius : 30% 30% 50% 50%;
}

#gameBoard .body{
    background : black;
    border : 1px solid darkred;
    border-radius: 50%;
}

#showScore{
    position: absolute;
    right : 0;
    font-weight : bold;
    font-size: var(--score_size);
    padding : 10px;
}

#controls{
    position : absolute;
    bottom : 10%;
    /* border: 1px solid green; */
    width : 50vmin;
    height : 20vmin;
    left : 50%;
    transform: translate(-50%);
    display : none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.arrow{
    /* border: 1px solid red; */
    position: relative;
}

.arrow::before{
    content: "";
    width : 0;
    position : absolute;
    bottom : 0px;
    left : 50%;
    transform : translate(-50%);
    border: 7vmin solid transparent;
    border-bottom-color : green;
    cursor: pointer;
}

.ctup{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    transform: translateY(-20%);
}

.ctleft{
    grid-row-start: 2;
    grid-row-end: 4;
    transform: rotate(-90deg) translateY(35%);
}

.ctright{
    grid-row-start: 2;
    grid-row-end: 4;
    transform: rotate(90deg) translateY(35%);
}

.ctdown{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 5;
    transform: rotate(180deg) translate(0, -20%);
}